PORT=

JWTKEY=
TOKEN_EXPIRATION=
BEARER=Bearer
CLIENT_URL_DEV_1=
CLIENT_URL_PROD_1=

NODE_ENV=development
# NODE_ENV=production
# NODE_ENV=test

# database
# port
DB_PORT=
DB_HOST=localhost
DB_DIALECT=postgres
# development

DEV_DATABASE=db_dev
DEV_USERNAME=
DEV_PASSWORD=

# production
PROD_DATABASE=db_prod
PROD_USERNAME=
PROD_PASSWORD=


# test
TEST_DATABASE=db_test
TEST_USERNAME=
TEST_PASSWORD=
